fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
asyncpg

pydantic
pydantic-settings
python-dotenv
python-multipart

httpx
requests

python-jose[cryptography]
passlib[bcrypt]

langgraph
langchain
langchain-core
langchain-openai
langsmith
langgraph-checkpoint-postgres