fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
asyncpg
psycopg[binary]

pydantic
pydantic-settings
python-dotenv
python-multipart

httpx
requests

passlib[bcrypt]
PyJWT

langgraph
langchain
langchain-core
langchain-openai
langsmith
langgraph-checkpoint-postgres